@mixin gradient-border($border-width: 6px, $border-radius: 10px, $base-color: var(--c-background), $animate: false, $animation-duration: 2.5s) {

  @if $animate {
    @keyframes spin {
      0% {
        --bg-angle: 0deg;
      }
      100% {
        --bg-angle: 360deg;
      }
    }
  }

  & {
    border: $border-width solid transparent;
    border-radius: $border-radius;

    @if $animate {
      background:
        linear-gradient(to bottom, $base-color, $base-color)
          padding-box,
        conic-gradient(from var(--bg-angle), var(--c-primary-1),
          var(--c-secondary-1) 66%, var(--c-primary-1))
          border-box;
      animation: spin $animation-duration infinite linear;
    } @else {
      background:
        linear-gradient(to bottom, $base-color, $base-color)
        padding-box,
        linear-gradient(130deg, var(--c-primary-1), var(--c-secondary-1))
        border-box;
    }
  }
}
