package components

templ NavbarShow(data *NavbarJSON) {
	<navbar>
		<div class="brand">{ data.Brand }</div>
		<div class="links">
			<ul>
				for _, link := range data.Links {
					<a href={ templ.URL(link.URL) }>
						<li>{ link.Title }</li>
					</a>
				}
			</ul>
		</div>
	</navbar>
}
