package home

import (
	cmpts "github.com/suchithsridhar/suchicodes/web/components"
)

templ IndexShow(data *IndexJSON, navbarData *cmpts.NavbarJSON, footerData *cmpts.FooterJSON) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Suchicodes</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
		</head>
		<body>
			@cmpts.NavbarShow(navbarData)
			<h1>Hello, World!</h1>
			@cmpts.FooterShow(footerData)
		</body>
	</html>
}
